.color-title {
    font-weight: normal;
}

#red {
    color: red;
}

#blue {
    color:blue;
}

#orange {
    color:orange;
}

#green {
    color:green;
}

#yellow {
    color: yellow;
}

img {
    height: 200px;
    width: 200px;
}

body {
    background-color:rgba(145, 91, 91, 0.733);
}